/* Base Styles */
.container {
  background-color: #000104;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.oncastCreate {
  max-width: 1000px;
  margin: 3rem auto;
  border: 1px solid #626262;
  border-radius: 20px;
  background-color: rgb(61, 61, 61);
  padding: 1rem;
}

.itemTitle {
  text-align: center;
  padding-left: 10px;
  user-select: none;
}

.titleInput,
.storyInput {
  color: white !important;
}
.typingLimit {
  text-align: right;
  color: #000104;
}

.themeSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.selectedTheme {
  color: red !important;
}

.createButton,
.cancleButton {
  margin-right: 10px;
}

.createButton {
  background-color: #6966FF;
  color: white;
}

.cancleButton {
  background-color: #6c757d;
  color: white;
}
