/* Base Styles */
.container {
  background-color: #000104;
  color: white;
}

.radioWrapper {
  max-width: 1000px;
  margin: 3rem auto;
  border: 1px solid #626262;
  border-radius: 20px;
  background-color: rgba(34, 34, 34, 0.7);
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleInput {
  width: 80%;
}

.themeButton {
  /* 여기에 테마 버튼에 대한 구체적인 스타일을 추가할 수 있습니다 */
}

.storyTextArea {
  width: 80%;
  height: 100px;
}

.footerButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.createButton {
  margin-right: 10px;
}

.centerText {
  text-align: center;
}

.inputWidth {
  width: 80%;
}

.textAreaStyle {
  width: 80%;
  height: 100px;
}

.marginRight {
  margin-right: 10px;
}
