.App {
  /* text-align: center; */
  background-color: #000104;
  min-height: 100vh;
  /* font-family: "MonoplexKR-Regular"; */
  /* background-image: url('../public/images/밤하늘에펄.jpg'); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "MyFont";
  src: url("../public/font/bernoru.otf") format("opentype");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Input 보통 글씨체  */
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Input 살짝 굵은 글씨체  */
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Input 굵은글씨체  */
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

/* 강원도 굵은 글씨체 영어(제목) */
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 신라 고딕체 얇은 글씨 */
@font-face {
  font-family: "Shilla_Gothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_Gothic-Bold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.swal2-title {
  font-family: "Pretendard-Medium";
}

.swal2-popup {
  background-color: rgb(55, 55, 55) !important;
  color: white !important;
}

.swal2-question {
  border-color: white !important;
  color: rgb(255, 255, 255) !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-popup {
  border: 1px solid #626262;
}

.swal2-warning {
  border-color: #ed6c02 !important;
  color: #ed6c02 !important;
}

/* .colored-toast.swal2-icon-warning {
  background-color: #ed6c02 !important;
} */
