.modalContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align modal to the right */
}

.closeButton {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.oncastList {
  padding: 0 20px;
}

.oncastItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #333;
  padding: 15px 0;
}

.profileAndDetails {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.profileImage {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.oncastDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.nickname {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.title {
  font-size: 13px;
}

.musicList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  width: 100%;
}

.musicItem {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.albumCover {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.musicDetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.songTitle {
  font-size: 17px;
}

.artist {
  font-size: 13px;
}

.paper {
  position: relative;
  width: 30%;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #1a1a1a;
  border-radius: 20px;
  color: #fff;
  padding: 20px;
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.paper h2 {
  text-align: center;
}

.addIcon {
  position: absolute; /* 절대 위치를 지정 */
  right: 0; /* 오른쪽에 붙이기 */
  margin-right: 10%;
  color: #fff;
  cursor: pointer;
}
