.blurredBackground {
  position: relative;
  height: 100%;
  color: white;
  overflow: hidden;
}

.blurLayer {
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: -1;
}
