/* PlayListModal.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}

.modal {
  width: 300px;
  padding: 20px;
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.hrStyle {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.songList {
  list-style-type: none;
  padding: 0;
}

.songList li {
  display: flex;
  align-items: center;
  margin: 15px 0;
  cursor: pointer;
}

.songList img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 5px;
}
