.container {
  background-color: #000104;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.audioStyle {
  display: block;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.marginTop {
  margin-top: 20px;
}
