/* DeleteModal.module.css */
.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modalBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 51, 55);
    color: white;
    padding: 40px 30px 40px 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modalTypography {
    margin-bottom: 20px;
}

.modalButton {
    background-color: #6966FF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.modalButton:hover {
    background-color: #5553f7;
    transform: scale(1.05);
}

.modalButton:active {
    background-color: #5553f7;
    transform: scale(1);
}
