/* 스크롤바 전체 */
.musicList::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바의 핸들 부분 */
.musicList::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

/* 스크롤바의 트랙 부분 */
.musicList::-webkit-scrollbar-track {
  background-color: lightgrey;
  border-radius: 10px;
}

.musicList {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkgrey lightgrey;
}

.musicList .songItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}

.musicList .songItem:hover {
  background-color: #3b3a3a;
}

/* Container styles */
.modalBox {
  position: relative;
  background-color: #222222;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  overflow-y: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f5e9e9;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header > div > div:first-child {
  text-align: right;
}

.header > div > div:last-child {
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
}

.albumCoverUrl {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.musicDetails {
  flex: 2;
  color: white;
}

.songTitle {
  color: white; /* desiredColor를 원하는 색상 값으로 변경해주세요. 예: #FF5733 */
}

.artist {
  color: #bbb; /* desiredColor를 원하는 색상 값으로 변경해주세요. 예: #FF5733 */
}

.duration {
  flex: 1;
  text-align: right;
  color: #bbb;
  margin-right: 20px; /* desiredColor를 원하는 색상 값으로 변경해주세요. 예: #FF5733 */
}
