.hoverableListItem .playButton {
  display: block; /* 항상 보이지만 opacity 0으로 시작함 */
  opacity: 0; /* 기본적으로 투명 */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  transition: opacity 0.3s, transform 0.3s; /* opacity와 transform에 대한 transition 추가 */
}

.hoverableListItem:hover .playButton {
  opacity: 1; /* 호버 상태에서 완전 불투명 */
  transform: translateY(-50%) scale(1.1); /* 약간 확대되는 효과를 위한 scale 추가 */
}

.hoverableListItem .DeleteOutlineIcon {
  display: block; /* 항상 보이지만 opacity 0으로 시작함 */
  opacity: 0; /* 기본적으로 투명 */
  position: absolute;
  right: 10%;
  top: 45%;
  transform: translateY(-50%);
  color: #ffffff;
  transition: opacity 0.3s, transform 0.3s; /* opacity와 transform에 대한 transition 추가 */
}

.hoverableListItem:hover .DeleteOutlineIcon {
  opacity: 1; /* 호버 상태에서 완전 불투명 */
  transform: translateY(-50%) scale(1.1); /* 약간 확대되는 효과를 위한 scale 추가 */
}

.hoverableListItem:hover {
  background-color: rgba(228, 224, 224, 0.197);
}

.hoverableListItem {
  border-bottom: 1px solid #e0e0e06f;
  transition: background-color 0.3s;
}

.audiotrackIcon {
  font-size: 40px;
}

.textPrimary {
  color: #ffffff;
}

.textSecondary {
  color: #ffffff;
}
