.tabOnMusic {
  font-family: "GangwonEduPowerExtraBoldA";
  margin-right: 15px;
}

.musicSearch {
  display: "flex";
  align-items: "center";
  margin-right: "15%";
  cursor: "pointer";
  font-family: "Shilla_Gothic-Bold";
  font-size: 15px;
}

.recipeReviewCard {
  background-color: aqua;
}

.container {
  margin-left: 213px;
  margin-right: 213px;
  /* margin: "0px 225px 0px 225px", */
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  overflow-y: auto;
}

/* // */
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Input 살짝 굵은 글씨체  */
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Input 굵은글씨체  */
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

/* 강원도 굵은 글씨체 영어(제목) */
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 신라 고딕체 얇은 글씨 */
@font-face {
  font-family: "Shilla_Gothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_Gothic-Bold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.noRadio {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 100px;
}

.listScrollbar::-webkit-scrollbar {
  width: 10px;
}
/* dddd */
/* 스크롤바 전체 */
.listScrollbar::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바의 핸들 부분 */
.listScrollbar::-webkit-scrollbar-thumb {
  background-color: #323232;
}

/* 스크롤바의 트랙 부분 */
.listScrollbar::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

.listScrollbar {
  height: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  /* margin-bottom: 100px; */
  margin-bottom: 10px;
}
