.playlistItem {
  /* justifycontent: space-between; */
  /* alignitems: center; */
  padding: 10px;
  /* marginbottom: 10px; */
  cursor: pointer;
  /* borderradius: 5px; */
  transition: background-color 0.3s ease;
}

.playlistItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.playlistItemActive {
  background-color: rgba(255, 255, 255, 0.1);
}

/* 기존 스타일에 추가 */
.playlistItem .deleteIcon {
  display: none; /* 기본적으로 아이콘을 숨깁니다. */
  margin-right: 10px;
}

.playlistItem:hover .deleteIcon {
  display: block; /* 마우스 호버 시 아이콘을 표시합니다. */
}

.root {
  background-color: #000104;
  height: 100vh;
  overflow: hidden; /* 스크롤을 숨깁니다. */
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 60px);
}

.songDisplayContainer {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-height: 75%;
}

.coverImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverImage {
  width: 500px;
  height: 500px;
}

.songListContainer {
  flex: 0.5;
  padding-right: 20px;
  margin-left: 20%;
}

.songListHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.songList {
  overflow-y: auto;
  max-height: 80vh;
}

.albumImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.songLength {
  display: flex;
  align-items: center;
}

.audioContainer {
  background-color: #222222;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  padding: 5px 0;
  height: 50px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

.audioHeader {
  justify-content: space-between;
  align-items: center;
}

.songInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controlButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
}

.leftControlButtons {
  display: flex;
  gap: 20px;
}

.progressBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.timeInfo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  justify-content: space-evenly;
}

.currentSongTitle,
.currentSongArtist {
  color: white;
}

.equalizerText {
  color: white; /* 텍스트를 하얀색으로 설정 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  /* 필요한 경우 추가 스타일을 여기에 작성 */
}

.currentSongInfoWithCover {
  display: flex;
  align-items: center;
}

.currentSongInfo {
  display: flex;
  flex-direction: row; /* 가로로 아이템들을 배열 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-left: 10px;
}

.audioControls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-top: -23px;
}

.audioControls > div {
  display: flex;
  align-items: center;
  gap: 10px; /* 각 아이콘 간의 간격 */
}

.audioControls button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: white;
  cursor: pointer;
  outline: none;
}

.progressBar {
  cursor: pointer;
  width: 100%;
  height: 4px;
  background-color: rgb(62, 62, 62);
  position: absolute; /* 상위 컨테이너 기준으로 위치를 결정합니다. */
  top: 0; /* 상위 컨테이너의 맨 위에 고정합니다. */
  left: 0; /* 왼쪽에서 시작하게 합니다. */
  z-index: 1; /* 다른 요소 위에 오도록 z-index를 설정합니다. */
  margin-bottom: 8px;
}

.progress {
  height: 100%;
  width: 100%;
  background-color: #7066e0;
}

.timeText {
  color: #ffffff;
}

/** 여기서부터는 Album 이미지 회전 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftControls {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center; /* 중앙 정렬 */
  /* gap: 10px; 아이템 간 간격 추가 */
}

.albumTrueButton {
  width: 200px;
  height: 48px;
  transform: translateY(-15px);
}

.albumButton {
  width: 200px;
  height: 200px;
}

.albumTrueButton:hover {
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

.albumButton:hover {
  animation: spin 1s linear infinite;
}

button.albumButton {
  position: fixed;
  right: 10px;
  bottom: 10px; /* 맨 밑에서 조금 떨어진 위치. */
  width: 50px;
  height: 50px;
  z-index: 1001;
}

body .css-zow5z4-MuiGrid-root > .MuiGrid-item {
  padding-top: initial !important;
}

.iconControls {
  display: flex;
  justify-content: flex-end;
  justify-self: end;
}

.iconControls > Button {
  margin-left: 20px;
}

.rightControls {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* 중앙 정렬 */
  gap: 10px; /* 아이콘 간의 간격 */
  flex-grow: 1; /* 가능한 모든 공간을 차지하도록 확장 */
}

button.albumTrueButton {
  position: fixed;
  right: 10px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  z-index: 1001;
}

.redirectPlaylist {
  display: flex;
}

.nextMusicItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* align-items: end; */
  font-family: "Pretendard-SemiBold";
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nextMusicItem {
  animation: slideIn 1s forwards; /* 기본적으로 슬라이드 인 애니메이션을 시작합니다. */
}

.nextMusicItem.animateSlideUp {
  animation: slideUp 1s forwards; /* 슬라이드 업 애니메이션으로 변경 */
}

.hidden {
  display: none !important;
}
