/* Loading.module.css */
.AddloadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 뒷 배경 흐리게 */
    z-index: 1000000; /* 다른 요소 위에 올라오게 하기 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .AddloadingContainer {
    text-align: center;
  }
  