.alertModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.alertBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  color: white;
  padding: 30px 100px 30px 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 약간의 그림자 추가 */
}

button.checkButton {
  background-color: #6966ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

button.checkButton:hover {
  background-color: #4c49fd;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transform: scale(1.05);
  border: none;
}

/* Input 보통 글씨체  */
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Input 살짝 굵은 글씨체  */
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Input 굵은글씨체  */
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

/* 강원도 굵은 글씨체 영어(제목) */
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 신라 고딕체 얇은 글씨 */
@font-face {
  font-family: "Shilla_Gothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_Gothic-Bold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  /* color : linear-gradient(to right, #ADD8E6, #4682B4, #00008B); */
}
