.container {
  background-color: #000104;
  --hoverBackgroundColor: #ffffff;
  height: 100vh;
  color: #e1e1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.container:hover {
  background-color: var(--hoverBackgroundColor);
}

.audioStyle {
  display: block;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.marginTop {
  margin-top: 20px;
}
