.alertModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alertBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 51, 55);
    color: white;
    padding: 30px 30px 20px 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 약간의 그림자 추가 */
}

.alertTypography {
    margin-bottom: 20px; /* 원하는 간격에 따라 값을 조절하세요 */
}

.alertButton {
    background-color: #6966FF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background-color: #6966FF; /* 마우스 오버 시 더 밝은 녹색으로 변경 */
        transform: scale(1.05); /* 마우스 오버 시 약간 확대 */
    }

    &:active {
        background-color: #5553f7; /* 클릭 시 더 어두운 녹색으로 변경 */
        transform: scale(1); /* 클릭 시 원래 크기로 복귀 */
    }
}
