/* Input 글씨체  */
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Input 굵은글씨체  */
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

/* 강원도 굵은 글씨체 영어(제목) */
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 신라 고딕체 얇은 글씨 */
@font-face {
  font-family: "Shilla_Gothic-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_Gothic-Bold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.logoImage {
  margin-right: 8px;
  height: auto;
  width: 145px;
  user-select: none;
}

.liveImage {
  height: 40px;
  width: auto;
  position: absolute;
  /* position: fixed; */
  left: -7%;
  flex-direction: row;
  align-items: centers;
}

.userProfileImage {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.centerAppBar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,navy, purple)!important; */
  background-image: url("../../../public/images/밤하늘에펄.jpg");
  box-shadow: none;
  position: relative;
}

.userNickName {
  display: flex;
  align-items: center;
  font-family: "Interop" !important;
  /* flex-direction: row; */
}

.selectNone {
  user-select: none;
}
.textRed {
  color: red;
}

/* .swal2-warning {
  border-color: #ed6c02 !important;
  color: #ed6c02 !important;
} */
