/* SearchModal.module.css */
.modalContainer {
    position: relative;
    background-color: rgb(50, 51, 55);
    border-radius: 30px;
    padding: 20px;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}

.header > div > div:first-child {
  text-align: right;
}

.header > div > div:last-child {
  text-align: center;
}

.closeIcon {
  position: absolute; /* 추가 */
  top: 20px; /* 추가: 필요에 따라 조절 */
  right: 25px; /* 추가: 필요에 따라 조절 */
  cursor: pointer;
}

.searchResults {
    margin-top: 30px;
    max-height: 220px;
    overflow-y: auto;
}
  
  .musicItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #292222;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .musicItem:hover {
    background-color: #282828;
  }
  
  .musicImage {
    width: 40px;
    height: 40px;
  }
  
  .musicDetails {
    flex: 2;
    color: white;
  }
  
  .artistName {
    color: #bbb;
    font-size: 0.9em;
  }
  
  .musicDuration {
    flex: 1;
    text-align: right;
    color: white;
  }

  .searchButton {
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    box-shadow: none;
    margin-left: 8px;
}

